node_modules
coverage
gamey/target
lcov.info
docs/build
webapp/src/.env
webapp/src/.env
.vscode/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/gamey/src/package-lock.json
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/yovi_es2c.iml
